# Ignore virtual environments
venv/
env/
*.venv/
*/venv/
*/env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Git-related files
.git/

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore Mac files
.DS_Store

Project_1/dataset/MSFD
Project_1/dataset/with_mask
Project_1/dataset/without_mask
Project_1/src/binary_classification_task/A_Binary Classification Using Handcrafted Features and ML Classifiers/enhanced_features
Project_1/src/binary_classification_task/A_Binary Classification Using Handcrafted Features and ML Classifiers/saved_models
Project_1/src/binary_classification_task/B_Binary Classification Using CNN/cnn_models
Project_1/src/binary_classification_task/B_Binary Classification Using CNN/cnn_processed_data
