# Ignore virtual environments
venv/
env/
*.venv/
*/venv/
*/env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Git-related files
.git/

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore Mac files
.DS_Store

Project_1/dataset/MSFD
Project_1/dataset/with_mask
Project_1/dataset/without_mask
Project_1/src/binary_classification_task/A_Binary_Classification_Using_Handcrafted_Features_and_ML_Classifiers/enhanced_features

Project_1/src/binary_classification_task/B_Binary_Classification_Using_CNN/Advanced_Analysis/snapshots/models

Project_1/src/binary_classification_task/B_Binary_Classification_Using_CNN/Normal_Analysis/cnn_processed_data/X.npy
Project_1/src/binary_classification_task/B_Binary_Classification_Using_CNN/Normal_Analysis/cnn_processed_data/y.npy



Mask_Segmentation_C/MSFD
Mask_Segmentation_C/.DS_Store
Mask_Segmentation_C/results
Mask_Segmentation_C/final.py
Mask_Segmentation_C/Graded_VR Mini Project 1.pdf

Project_1/src/binary_classification_task/segmentation_task/D_UNET_method/.ipynb_checkpoints
*.ipynb_checkpoints
*.pth
*.jpg